results/variants/codon_variant_table.csv filter=lfs diff=lfs merge=lfs -text
results/counts/variant_counts.csv.gz filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=strip-notebook-metadata diff=strip-notebook-metadata
results/escape_scores/scores.csv filter=lfs diff=lfs merge=lfs -text
results/prior_DMS_data/early2020_escape_fracs.csv filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_BA1/counts_to_cells_csv.csv filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_BA2/counts_to_cells_csv.csv filter=lfs diff=lfs merge=lfs -text
results/counts/Wuhan_Hu_1/counts_to_cells_csv.csv filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_BA2/variant_counts.csv.gz filter=lfs diff=lfs merge=lfs -text
results/counts/Wuhan_Hu_1/variant_counts.csv.gz filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_BA1/variant_counts.csv.gz filter=lfs diff=lfs merge=lfs -text
results/escape_scores/escape_fracs_Omicron_BA2.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/escape_fracs_Wuhan_Hu_1.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/escape_fracs_Omicron_BA1.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/scores_Omicron_BA1.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/scores_Omicron_BA2.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/scores_Wuhan_Hu_1.csv filter=lfs diff=lfs merge=lfs -text
results/counts/*/counts_to_cells_csv.csv filter=lfs diff=lfs merge=lfs -text
results/counts/*/variant_counts.csv.gz filter=lfs diff=lfs merge=lfs -text
results/escape_scores/escape_fracs_*.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/scores_*.csv filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_BQ11/counts_to_cells_csv.csv filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_XBB15/counts_to_cells_csv.csv filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_BQ11/variant_counts.csv.gz filter=lfs diff=lfs merge=lfs -text
results/counts/Omicron_XBB15/variant_counts.csv.gz filter=lfs diff=lfs merge=lfs -text
results/escape_scores/escape_fracs_Omicron_BQ11.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/escape_fracs_Omicron_XBB15.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/scores_Omicron_BQ11.csv filter=lfs diff=lfs merge=lfs -text
results/escape_scores/scores_Omicron_XBB15.csv filter=lfs diff=lfs merge=lfs -text
