.*
!.gitignore
!.gitattributes
!.gitconfig
*.pyc
*.log
*.Log
*.out
_*
!docs/_config.yml

env/

results/*

!results/summary

!results/variants
results/variants/*
!results/variants/codon_variant_table.csv

!results/counts
results/counts/*
!results/counts/Wuhan_Hu_1/
results/counts/Wuhan_Hu_1/*
!results/counts/Wuhan_Hu_1/variant_counts.csv.gz
!results/counts/Wuhan_Hu_1/counts_to_cells_csv.csv

!results/counts/Omicron_BA1/
results/counts/Omicron_BA1/*
!results/counts/Omicron_BA1/variant_counts.csv.gz
!results/counts/Omicron_BA1/counts_to_cells_csv.csv

!results/counts/Omicron_BA2/
results/counts/Omicron_BA2/*
!results/counts/Omicron_BA2/variant_counts.csv.gz
!results/counts/Omicron_BA2/counts_to_cells_csv.csv

!results/escape_scores
results/escape_scores/*
!results/escape_scores/scores_*
!results/escape_scores/escape_fracs_*

!results/supp_data
results/supp_data/*
!results/supp_data/Wuhan_Hu_1/
results/supp_data/Wuhan_Hu_1/*
!results/supp_data/Wuhan_Hu_1/*.csv

!results/supp_data/Omicron_BA1/
results/supp_data/Omicron_BA1/*
!results/supp_data/Omicron_BA1/*.csv

!results/supp_data/Omicron_BA2/
results/supp_data/Omicron_BA2/*
!results/supp_data/Omicron_BA2/*.csv

data/spikeprot*
